body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.task-input {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: rgba(33, 37, 41, 0.25);
  border-radius: 0;
  box-shadow: none;
}

.task-input:focus {
  box-shadow: none;
}

.task-item:last-child .task-input{
  border: 0;
}